body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.map-iframe {
  padding: 100px;
}
.page-title {
  font-weight: 900;
  font-size: 40px;
  padding: 5px;
  text-align: center;
}
.page-title .letter {
  opacity: 0;
}
