
body {
  background-color:  rgb(255, 255, 255);
}
.container{
  background-color: rgb(255, 255, 255);
}
.team-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meet-our-team {
  font-weight: 900;
  font-size: 40px;
  padding: 25px;
  text-align: center;
}
.letter {
  opacity: 0;
}

.function-type {
  padding-top: 35px;
  padding-bottom: 10px;
}

.heading-name {
  font-weight: 800;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.heading-function {
  padding: 15px;
  text-align: center;
  margin: 15px;
}

.col-md-3 {
  margin-bottom: 10px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.3);
}

.bgteam {
  /* The image used */
  background-image: url("../img/team.jpg");

  /* Half height */
  height: 70%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}